---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for entry in collections.all %}
{%- if entry.data.layout != "excluded.njk" and entry.outputPath and entry.outputPath.endsWith(".html") %}
  <url><loc>{{ entry.url | absoluteUrl(site.url) }}</loc></url>
{%- endif %}
{%- endfor %}
</urlset>
